# Environment files
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Media and assets
assets/
videos/
screenshots/
clips/
covers/
cloudinary/
creatomate/
heygen/
scroll_frames/
trailers/
temp_videos/
test_output/
responses/
gui/node_modules/
docker_volumes/

# Large media files
*.mp4
*.mov
*.avi
*.mkv
*.wav
*.mp3

# Large JSON files
avatars_list.json
voices_list.json

# Logs
*.log

# Mac OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

temp_*
scroll_frames_*
test_output